.admin_table_Design{
  margin-top: 3rem;
}
.admin_totalorder_row{
  margin-top: 5rem;
  color: #0a2351;
 
}
.order_heading{
  font-weight: bolder;
  font-size: 40px;
}
.admin_additems{
  margin-top: 4rem;
  margin-right: 0rem;
  margin-left: 2.5rem;
}
.admin_style_card{
  width: 30%;
    max-width: 32%;
    margin: 10px;
    height: 300px;
    max-height: 300px;
}
.add_user_table{
  width: 80%;
  margin: 5rem;
  /* margin-top: 3rem; */
  background-color: #0a2351;
  font-weight: bolder;
  font-size: 15px;
  color:#fff;
  margin-left: 11%;
  border-top: solid;
  /* border-color: rgb(100, 0, 87); */
}
.add_user_border{
  width: 100%;
  height: 100%;
  display: inline-block;
}
.inner-container{
  
    width: 80vw;
    max-width: 80vw;
    margin-left: -2rem;
    margin-top: 5vh;
    padding: 0px;
    margin-right: 7rem;
}
.admin_card_design{
font-family: 'Times New Roman', Times, serif;
margin: 0.5rem;
border-style: groove;
border-width: 3px;
height: 258px;
/* width: 300px; */
/* border-radius:20px; */
box-shadow: 0 4px 8px 0 rgba(0,0,0,1.0);
background-image: linear-gradient(
    to right bottom,
    /* #0070bb, */
    #132257,
    #004170,
    #00b98a,
    #009b7d
  );
}
.admin_parent_div_cards{
  /* margin: 5%; */
  margin-right: 6%;
  margin-left: 6%;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  /* height: 258cm; */
 
}
.admin_card_header
{
  color: white;
  border-radius: 7px;
  font-size: 25px;
  padding: 3px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.admin_card_body{
  color: white;
  font-size: 20px;
  padding: 0px;
  padding-bottom: 10px;
}
.tableactivecard{
  font-family: 'Times New Roman', Times, serif;
margin: 2rem;
border-style: groove;
border-width: 3px;
/* border-radius:20px; */
box-shadow: 0 4px 8px 0 rgba(0,0,0,1.0);
background-image: linear-gradient(
    to right bottom,
    /* #0070bb, */
    #132257,
    #004170,
    #00b98a,
    #009b7d
  );
}
.tablecardheader{
  color: white;
  border-radius: 7px;
  font-size: 25px;
  padding: 3px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.tablecardbody{
  color: white;
  font-size: 15px;
  padding: 0px;
  padding-bottom: 10px;
}
.tableinactivecard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1) !important;
  width: 17rem;
  height: 11.8rem;

  font-family: "Times New Roman", Times, serif;
  margin: 2rem;
  border-style: groove;
  border-width: 3px;
  background-image: linear-gradient(to right bottom,
  #da0c0c,
  /* #004170, */
  #041b6b
     );
}
.empbtn{
  background-color: #d11d72;
  font-weight: bolder;
}
/* .cardtext{
  color: white;
  font-size: 15px;
} */

/*waiter page css*/
/* .waiter_parent_card{
  overflow-y: hidden;
} */
.waiterCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1) !important;

  font-family: "Times New Roman", Times, serif;
  margin: 2rem;
  border-style: groove;
  border-width: 3px;

  background-image: linear-gradient(
    to right bottom,
    /* #0070bb, */
    #132257,
    #004170,
    #00b98a,
    #009b7d
  );
}
.waiterAbsentCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1) !important;
  width: 17rem;
  height: 12.15rem;

  font-family: "Times New Roman", Times, serif;
  margin: 2rem;
  border-style: groove;
  border-width: 3px;
  background-image: linear-gradient(to right bottom,
  #da0c0c,
  /* #004170, */
  #041b6b
     );
}
.waiterCard:hover {
  box-shadow: 10px 15px 25px 10px rgba(109, 108, 100, 0.336) !important;
}
.waiterAbsentCard:hover {
  box-shadow: 10px 15px 25px 10px rgba(109, 108, 100, 0.336) !important;
}
.waiterCardHeader {
  color: white;
  border-radius: 7px;
  font-size: 25px;
  padding: 3px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.waiterCardBody {
  color: white;
  font-size: 15px;
  padding: 0px;
  padding-bottom: 10px;
}
.waiterAbsentCardBody {
  color: white;
  font-size: 15px;
}
.waiterButton {
  background-color: #d11d72;
}



@media (max-width: 640px) {
  .inner-container {
    margin-left: 3px;
  }
}


/* Admin Total order */
.main{
  width: 175vh;
}
.accordion_total_order{
  box-shadow:5px 10px 20px 5px rgba(0, 0, 0, 0.253);
  border-radius: 0.10rem;
}
.cards_total_order{
  background-color: #6f7faa8f;
  color: #fff;
  
}
.headers_total_order{
  background-color: rgba(255, 255, 255, 0.575);
}
.accordiontoggle_total_order{
  background-color: #1F305E;
}
.table_design_total_order{
  color:black;
  font-weight: bolder;
}
/* .th_total_order{
  background-color:#ffe6ff;
}
.td_total_order{
  background-color: white;
} */

/* showEmployee */
/* .inner-container1{
  width: 80%;
  margin-left: 10%;
} */
/* Add item page css */

.menu-column {
  overflow: auto;
  height: 200px;
}
.val-item {
  position: absolute;
  left: 10px;
  color: #1F305E;
  font-size: 130%;
  font-weight: bolder;
}
.price {
  position: relative;
  left: 70px;
  font-size: 120%;
  font-weight: bolder;
  color: black;
}
.item-name {
  color: #fff;
  font-size: 150%;
  font-weight: bold;
  background-color: #1F305E;
  background-size: 200px;
}
.heading {
  color: #1F305E;
  text-decoration: underline;
}
.menu-value {
  padding-top: 10px;
}
.image {
  height: 200px;
  width: 250px;
}
.menu-divison {
  padding-top: 20px;
}
.additem_btnstyle{
  background-color: #d11d72;
}
.admintable_btnstyle{
  background-color: #d11d72;
}
.additembg{
  /* background-color: #1F305E; */
  margin-top: 40px;
}
.showemp{
  margin: 5rem;
  color:#fff;
  background-color:#1F305E;
  font-family: 'Times New Roman', Times, serif;
  border-style: groove;
  border-width: 3px;
  border-radius: 7px;
}
.showemp_btn{
  background-color: #d11d72;
  color: #fff;
  font-weight: bolder;
}
.showline{
  font-size: 25px;
  font-weight: bolder;
  color: #1F305E;
  background-color:#fff;
}
.showemp_table{
  color:#fff;
  font-weight: bolder;
}
