/*waiter page css*/
.waiterCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1) !important;

  font-family: "Times New Roman", Times, serif;
  margin: 2em;
  border-style: groove;
  border-width: 3px;

  background-image: linear-gradient(
    to right bottom,
    #0070bb,
    #132257,
    #004170,
    #00b98a,
    #009b7d
  );
}
.waiterAbsentCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1) !important;
  width: 17rem;
  height: 12rem;

  font-family: "Times New Roman", Times, serif;
  margin: 2em;
  border-style: groove;
  border-width: 3px;
  background-image: linear-gradient(to right bottom, #ff4500, #800080, #ff1493);
}
.waiterCard:hover {
  box-shadow: 10px 15px 25px 10px rgba(109, 108, 100, 0.336) !important;
}
.waiterAbsentCard:hover {
  box-shadow: 10px 15px 25px 10px rgba(109, 108, 100, 0.336) !important;
}
.waiterCardHeader {
  color: white;
  border-radius: 7px;
  font-size: 25px;
  padding: 3px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.waiterCardBody {
  color: white;
  font-size: 15px;
  padding: 0px;
  padding-bottom: 10px;
}
.waiterAbsentCardBody {
  color: white;
  font-size: 15px;
}
.waiterButton {
  background-color: #d11d72;
}

/* Add item page css */

.menu-column {
  overflow: auto;
  height: 200px;
}
.val-item {
  position: absolute;
  left: 10px;
  color: #80d4ff;
  font-size: 130%;
}
.price {
  position: relative;
  left: 70px;
  font-size: 120%;
  color: azure;
}
.item-name {
  color: #290f75;
  font-size: 150%;
  font-weight: bold;
  background-color: #ccf0ec;
  background-size: 200px;
}
.heading {
  color: blanchedalmond;
  text-decoration: underline;
}
.menu-value {
  padding-top: 10px;
}
.image {
  height: 200px;
  width: 250px;
}
.menu-divison {
  padding-top: 20px;
}
