
.inner-container{
    /* position: relative; */
    /* background-color:#0a2351; */
    margin-right: "5rem";
    /* margin-top: "5rem"; */
    margin-left: 0%;
    margin: 25px;
    
    /* display: inline;
    justify-content: center; */
}
.inner-container .row{
    margin: 0%;
}
.chart{
    margin-left: 12%;
    margin-right: 15%;
    /* display: flex; */
    /* position: absolute; */
    background-color:#0a2351;
    justify-content: center;
    width: 250px;
    height: 150px;
    
}
.chartcard{
    background-color:#1F305E;
   
    color: white;
    font-family: "Times New Roman, Times, serif";
    /* left: "25px"; */
    justify-content: center;
     border-style: "groove";
    border-width: "3px";
      border-radius: "7px";
               
}
.table-bordered td {
    border: 0px;
}
.table-bordered th {
    border: 0px;
}
.btn-primary{
    border: 0px;
  
}
.table{
   
    width:92%;
}

.card{
    max-width: 100%;
    max-height: 100rem;
    color: white;
    background-color: #0a2351;
    font-family: Times New Roman, Times, serif;
    margin: 1rem;
    margin-left: 1rem;
    border-style: groove;
    border-width: 3px;
    border-radius: 7px;
}
.cardheader{
    background-color: white;
    border-bottom: groove;
    background-color: #0a2351;
    border-width: 2px;
    border-bottom-color: #ffffff;
    border-radius: 7px;
    padding: 3px;
    margin: 0px;
}
.Tabledesign{
    color: white;
    background-image: linear-gradient(to right,#0E3386,#0047AB, #002D62, #0a2351);
    max-width: 80%;
    max-height: 100rem;
    font-family: Times New Roman, Times, serif;
    margin-top: 2rem;
    border-radius: 20px;
    border-collapse: collapse;
}
.button{
    background-color:#d11d72 ;
}
.tables{
    color:white;
    background-image:linear-gradient(to right,#0E3386,#0047AB, #002D62, #0a2351);
    max-width: 80%;
    max-height: 100rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2rem;
    border-width: 3px;
    border-radius: 20px;

}