
.inner-container{
    margin-right: 5rem;
    margin-left: 0%;
    margin: 25px;
}
/* .inner-container .row{
    margin: 0%;
} */
.biller_home_style{
    margin: 3rem;
}
.btn_table{
    background-color: #d11d72;
    border: 2px solid black;
    border-radius: 6px;
    height: 25px;
    line-height: 1.0;
    color: white;
}
.chart{
    margin-left: 12%;
    margin-right: 15%;
    /* display: flex; */
    /* position: absolute; */
    /* background-color:#0a2351; */
    justify-content: center;
    width: 250px;
    height: 150px;
    
}
/* .cardstyle{
    margin-left: 2rem;
} */
.cardsname{
    max-width: 80%;
    max-height: 100rem;
    color: white;
    background-color: rgb(10,35,81);
    font-family: "Times New Roman, Times, serif";
    margin: 0rem;
    margin-left: 0rem;
    border-style: "groove";
    border-width: 3px;
    border-radius: 10px;
}
.cardHeadersname{
    color: white;
    border-bottom: "groove";
    background-color: rgb(10,35,81);
    border-width: 2px;
    border-bottom-color: #ffffff;
    border-style: "groove";
    border-radius: 7px;
    padding: 3px;
    margin: 0px;
}
.chartcard{
    background-color:#1F305E;
   width:20%;
   height: 50%;
    color: white;
    font-family: "Times New Roman, Times, serif";
    
    justify-content: center;
     border-style: "groove";
    border-width: "3px";
      border-radius: "7px";
               
}


.table-bordered td {
    border: 0px;
}
.table-bordered th {
    border: 0px;
}
.btn-primary{
    border: 0px;
  
}
/* .table{
    width:92%;
} */
.row .Container {
   background-color:white;
   height: 300px;
   padding: 15px;
   display: block;
   overflow-y: auto;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 23px;
}
.row .Container .message{
    background-color:#1F305E;
    line-height: 1.0;
    padding: 10px;
    margin: 10px;
    font-weight: bolder;
    border: 0px solid black;
}
.chatcolumn{
    background-color:#1F305E;  
    margin: 1rem;
    font-weight: bolder;
    margin-left: 3px; 
}
.left{
    float: left;
    min-height: 50px;
    border-bottom-left-radius: 25px;
  
    height: 50px;
    clear: both;
}
.right{
    float: right;
    min-height: 50px;
    border-bottom-right-radius: 25px;
    height: 50px;
    clear: both;
}
#send-container{
    text-align: center;
    max-width: 985px;
    width: 100%;
    display: block;
    margin: auto;
}
#msgimp{
    width:50%;
    border: 2px solid black;
    border-radius: 6px;
    margin: 8px;
    margin-bottom: 30px;
    height: 35px;
}
.Tabledesign{   
    color: white;
    width:90%;
    max-height: 100rem;
    font-family: "Times New Roman, Times, serif";
    margin-top: 2rem;
    margin-left: 3.5rem;
    border-width: 3px;
    border-radius: 20px;
    border-collapse: "collapse";
}


/* BillerKitchen */
.chatStyle{
    margin: 3rem; 
    margin-left: 3px;
    /* border-style: groove;
    border-width: 3px; */
    width: 45%;
    /* border-radius: 7px; */
    height: 100%;
}
.chatbox-Design{
    color: white;
    margin: 5rem;
    margin-left: 3rem;
    height: 100%;
    width: 100%;
    
}
.card{
    width: 100%;
    max-height: 100rem;
    color: White;
    font-family: Times New Roman, Times, serif;
    margin: 2rem;
    border-style: groove;
    border-width: 3px;
    border-radius: 7px;
   
} 

/* BillerReport */

.report{
    width: 80%;
    color: #fff;
    background-color: #1F305E;
    justify-content:center;
    margin:7rem;
    font-weight: bolder;
    border-style: double;
    border-width: 5px;
    border-radius: 7px;
} 
 .reportbtn{
    background-color: #d11d72;
    color: #fff;
    font-weight: bolder;
    margin-top: 15rem;
    margin-left: 50rem;
}
.msgbtn{
    background-color: #d11d72;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 25px;
    line-height: 1.0;
    color: white;
}