/* notification page css */
.container-fluid {
    margin-top: 20px;
  }
  .tableImg {
    height: 180px;
  }
  .parcelImg {
    height: 180px;
  }
  .notCard {
    box-shadow: 5px 5px 8px 10px rgba(241, 241, 239, 0.945) !important;
  }
  