/* kitchen dashboard css */

.timer div {
  border: 2px solid black;
  border-radius: 2px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0.7em;
  vertical-align: middle;

  height: 80px;
}
section p:first-child,
.timer div:first-child span {
  font-size: 1em;
}
.container-fluid {
  margin-top: 50px;
}
.tableDisplay td:first-child {
  width: 100px;
  font-weight: bold;

  box-shadow: 5px 10px 20px 5px rgba(92, 90, 90, 0.253) !important;
  border: 2px solid #cccccc;
  vertical-align: middle;
  font-size: 1.3em;
}
.tableDisplay td:nth-child(5n + 2) {
  width: 100px;
  box-shadow: 5px 10px 20px 5px rgba(92, 90, 90, 0.253) !important;
  border: 2px solid #cccccc;
  vertical-align: middle;
  font-size: 1.3em;
}
.tableDisplay td:nth-child(5n + 3) {
  width: 100px;
  box-shadow: 5px 10px 20px 5px rgba(92, 90, 90, 0.253) !important;
  border: 2px solid #cccccc;
  vertical-align: middle;
  font-size: 1.3em;
}
.tableDisplay td:nth-child(5n + 4) {
  width: 120px;
  box-shadow: 5px 10px 20px 5px rgba(92, 90, 90, 0.253) !important;
  border: 2px solid #cccccc;
  vertical-align: middle;
}
.tableDisplay td:last-child {
  width: 200px;
  box-shadow: 5px 10px 20px 5px rgba(92, 92, 90, 0.253) !important;
  border: 2px solid #cccccc;
  vertical-align: middle;
}
.tableDisplay th {
  border: 2px solid #cccccc;
}

/* .tableDisplay td {
  border: 2px solid #cccccc;
} */
/* .tableDisplay tr:first-child {
  border: 2px solid #cccccc;
} */
.tableDisplay th {
  background-color: #ccccff;
  border: 2px solid #cccccc;
  box-shadow: px 10px 20px 5px rgba(92, 90, 90, 0.253) !important;
  color: rgb(31, 15, 68);
  font-weight: bolder;
  font-size: 1.5em;
}
.tableDisplay tr {
  border: 2px solid #cccccc;
  font-weight: bold;
}

.acceptButton {
  margin-top: 0.5em;
}

.blink {
  font-family: serif;

  color: #af1919;
  text-align: center;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
  }
}

/* notification page css */
.container-fluid {
  margin-top: 20px;
}
.tableImg {
  height: 180px;
}
.parcelImg {
  height: 180px;
}
.notCard {
  box-shadow: 5px 5px 8px 10px rgba(92, 92, 90, 0.253) !important;
}
