/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 100%;
} */
/* .timer-container{
    background-image: linear-gradient((red, yellow));
    color:#fff;
    width: 100vw;
} */
/* .timer{
   
    display: flex;
    flex: column;
    align-items: center;
   
   
} */
/* .timer div:first-child{
    text-align: center;
} */

.timer div{
    border: 1px solid black ;
    border-radius: 1px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 0.2em;
    /* padding: 0.2em; */
    margin-left: 3em;
    text-align: center;
    width: 180px;
}
section p:first-child, .timer div:first-child span{
    font-size:1em;
}