
.main-navigation__menu-btn {
  width: 1rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 1.5rem;
  height: 2.5px;
  background: white;
}

.main-navigation__title {
  color: white;
  padding: 0;
  margin-top: 0;
}


.main-navigation__title a {
  text-decoration: none;
  color: white;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }
 

  .main-navigation__header-nav {
    display: block;
  }
} 

 .main-navigation__menu-btn {
  
  width: 1rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  
  display: block;
  width: 1.5rem;
  height: 2.5px;
  background: white;
}

.main-navigation__title {
  
  color: white;
  padding: 0;
  margin-top: 0;
}


.main-navigation__title a {
  text-decoration: none;
  color: white;
}

.main-navigation__header-nav {
  width: 5px;
  height: 100%;
  position:fixed;
  left: 0;
  top: 0;
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 770px) {
  .main-navigation__menu-btn {
    display: none;
  }
  

  .main-navigation__header-nav {
    display: block;
  }
}
