.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 1px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links li .home {
  position: absolute;
  left: -0.3cm;
  width: 4cm;
  text-align: center;
  font-size: 20px;
  top: 1cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}

.nav-links li .table {
  position: absolute;
  left: -0.3cm;
  width: 4cm;
  text-align: center;
  font-size: 20px;
  top: 2cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}

.nav-links li .Order {
  position: absolute;
  left: -0.3cm;
  width: 3cm;
  text-align: center;
  font-size: 20px;
  top: 3cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}

.nav-links li .waiter {
  position: absolute;
  left: -0.3cm;
  width: 4cm;
  text-align: center;
  font-size: 20px;
  top: 4cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}

.nav-links li .kitchen {
  position: absolute;
  left: -0.3cm;
  width: 5cm;
  text-align: center;
  font-size: 20px;
  top: 5cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}

.nav-links li .biller {
  position: absolute;
  left: -0.3cm;
  width: 4cm;
  text-align: center;
  font-size: 20px;
  top: 6cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}

.nav-links li .adduser {
  position: absolute;
  left: -0.3cm;
  width: 4cm;
  text-align: center;
  font-size: 20px;
  top: 7cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}

.nav-links li .billerHome {
  position: absolute;
  left: -0.3cm;
  width: 4cm;
  text-align: center;
  font-size: 20px;
  top: 8cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}
.nav-links li .billerWaiter {
  position: absolute;
  left: -0.3cm;
  width: 4cm;
  text-align: center;
  font-size: 20px;
  top: 9cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}
.nav-links li .billerKichen {
  position: absolute;
  left: -0.3cm;
  width: 4cm;
  text-align: center;
  font-size: 20px;
  top: 10cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}
.nav-links li .billerReport {
  position: absolute;
  left: -0.3cm;
  width: 4cm;
  text-align: center;
  font-size: 20px;
  top: 11cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}
.nav-links li .customer {
  position: absolute;
  left: -0.3cm;
  width: 4cm;
  text-align: center;
  font-size: 20px;
  top: 11.9cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}
.nav-links li .timer {
  position: absolute;
  left: -0.3cm;
  width: 5cm;
  text-align: center;
  font-size: 20px;
  top: 12.9cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}
/* .nav-links li .Tablepage {
  position: absolute;
  left: -0.3cm;
  width: 5cm;
  text-align: center;
  font-size: 20px;
  top: 14cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
} */

.nav-links li .logout {
  position: absolute;
  left: -0.3cm;
  width: 4cm;
  text-align: center;
  font-size: 20px;
  top: 12.9cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}
.nav-links li .kitchenpage {
  position: absolute;
  left: -0.5cm;
  width: 5cm;
  text-align: center;
  font-size: 20px;
  top: 13.9cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}
.nav-links li .notification {

  position: absolute;
  left: -0.3cm;
  width: 5cm;
  text-align: center;
  font-size: 20px;
  top: 14.9cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}
.nav-links li .Tablepage{
  position: absolute;
  left: -0.3cm;
  width: 5cm;
  text-align: center;
  font-size: 20px;
  top:15.9cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}
.nav-links li .Catagorypage{
  position: absolute;
  left: -0.7cm;
  width: 5cm;
  text-align: center;
  font-size: 20px;
  top: 16.9cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}
.nav-links li .Listmenu{
  position: absolute;
  left: -0.3cm;
  width: 5cm;
  text-align: center;
  font-size: 20px;
  top: 17.9cm;
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}
.nav-links a {
  border: 1px solid transparent;
  color: #292929;
  text-decoration: none;
  padding: 0.5rem;
  position: absolute;
  margin-top: 10cm;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  background: #fff;
  border-color: #292929;
  color: #292929;
}

.nav-links button {
  cursor: pointer;
  border: 1px solid #292929;
  color: #292929;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  background: #292929;
  color: white;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: column;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }

  .nav-links button {
    border: 1px solid white;
    color: white;
    background: transparent;
  }

  .nav-links button:hover,
  .nav-links button:active {
    background: #f8df00;
    color: #292929;
  }
}
